@model WebApp.Areas.Admin.ViewModels.UsersApprovalViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>MY ROLE: @Model.CurrentUserRole.Result</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Email
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.UsersForApproval)
    {
        <tr>
            <td>
                @user.Id
            </td>
            <td>
                @Html.DisplayNameFor(m => m.UsersForApproval[0].Id): @user.Email<br/>
            </td>
            <td>
                <a asp-action="Approve" asp-route-id="@user.Id">Approve</a> |
                <a asp-action="" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>